<!DOCTYPE html>
<html lang="tr-TR"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Burak Yüksel</title>
    <meta name="description" content="icerik">
    <meta name="keyword" content="Web Terminolojileri">
    <meta name="author" content="Burakyuksel.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body>

<nav class="nav">
      <div class="row menurow">
        <div class="col-xl-11">
          <div class="yazi pb-2"><strong style="font-family: 'Noto Serif', serif;">BURAK YÜKSEL</strong></div>
          <div class="yazi pl-5" ><strong style="font-family: 'Noto Serif', serif;">Hacettepe Üniversitesi</strong></div>
          <div class="yazi pl-5"><strong style="font-family: 'Noto Serif', serif;">Bilgisayar Ve Öğretim Teknolojileri Eğitimi Bölümü</strong></div> 
        </div>
        <div class="col-xl-1 btndiv pt-3 pr-5 pb-3"> 
           <ul style="list-style: none;">
			   
                <li><button class="btn acilanmenu-btn">
					
					<span class="glyphicon glyphicon-th-list">Menu</span></button></li>
            </ul>
        </div>
      </div>    
    
    <div class="acilan-menu" style="display: none;">
        <ul>
			
            <li>
                <h2><center>WEB TERMİNOLOJİLERİ </center> </h2>
				<center>
					<a href="Gif.html">GİF</a>
					<a href="E_ticaret.html">E-TİCARET</a>
					<a href="HD.html">HD KALİTE</a>
					<a href="HomePage.html">HOMEPAGE</a>
					<a href="WebMaster.html">WEBMASTER</a>
				</center>

            </li>
			<hr>
          
        </ul>
    </div>
</nav>
	<div class="content">
		<div class="icerik">
		<div class="konubas">
			<center>TEMPLATE</center>
		<div class="video"><center>
			<h1>TEMPLATE</h1>
			</center>
			<br>
			
		</div>
		</div>
		
		</div>
		
			<div class="iceriksag">
				<div class="resim"><center><img src="../images/image/Burak_Yuksel.jpg"></center>
					<div class="resimblg">
							<center>Burak Yüksel<br>
								Bilgisayar Ve Öğretim Teknolojileri Eğitimi</center>
		
					</div>
				</div>
			</div>
		
		</div>
	<div id="morgecis"></div>
<footer>
 	 <center>
	 	 <div class="footertasarim">
			 <div class="footerlogo"><img src="../images/image/hacettepe.png"></div>
			 <div class="hüyazi">HACETTEPE <br>ÜNİVERSİTESİ</div>
			 <div class="siteharitasi">Site Haritası<br>
				 <font size="-1">
					<a href="../index.html" class="yazi-link">ANASAYFA</a><br>
				 	<a href="Gif.html" class="yazi-link">GİF</a><br>
					<a href="E_ticaret.html" class="yazi-link">E-TİCARET</a><br>
					<a href="HD.html" class="yazi-link">HD KALİTE</a><br>
					<a href="HomePage.html" class="yazi-link">HOMEPAGE</a><br>
					<a href="WebMaster.html" class="yazi-link">WEBMASTER</a><br>
					
					
				 </font>
			 </div>
			 <div class="sosyalmedya">Sosyal Medya<br>
				 <font size="-1">
				 	 <a href="https://www.facebook.com/burakyuksl06" class="yazi-link">Facebook</a><br>
					 <a href="http://Instagram.com/burak.yks" target=new class="yazi-link">İnstagram</a>
				 </font>
			 </div>
			 <div class="siteharitasi">İletişim<br>
						<font size="-1">
				 <a class="yazi-link">yukselburakyuksel@gmail.com</a>
						</font>
			 </div>
		 </div>
		 <div class="telif">
		 © 2018 Burak Yuksel
		 </div>
	</center>
</footer>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
